$whiteprimary: #fffdfb;
$orenprimary: #f08329;

section.package-trip {
  margin-top: 100px;
  position: relative;

  .ln {
    position: absolute;
    margin-top: -30px;
    width: 100%;
    height: 250px;
    background: #5eb7b7;
  }
}

@media (max-width: 576px) {

  .trips {
    margin-left: 10%;

  }

  .cardku {
    margin-top: 30px;
    // width: 360px !important;
    // height: 580px !important;
    // display: none;
  }
}

// -----------------------------------------------------------------------------------------------------------
section.services {
  margin-top: 150px;

  h1 {
    font-weight: 700;
  }

  .bungkus {
    margin-top: 15px;
    width: 100%;
    height: 320px;
    background: #5eb7b7;
    padding: 20px 0px;
  }


  h3 {
    font-weight: 700;
  }

  @media (max-width: 576px) {
    img {
      width: 30%;
    }

    .bungkus {
      margin-top: 15px;
      width: 100%;
      height: 100%;
      background: #5eb7b7;
      padding: 20px 0px;
    }
  }
}

// -----------------------------------------------------------------------------------------------------------

section.partners {
  margin-top: 150px;

  h1 {
    font-weight: 700;
  }

  @media (max-width: 576px) {
    h1 {
      text-align: center;
    }

    img {
      margin-top: 40px;
    }
  }
}

// -----------------------------------------------------------------------------------------------------------
section.testimonial {
  margin-top: 200px;
  position: relative;

  h1 {
    font-weight: 700;
  }

  .ln {
    width: 100%;
    height: 300px;
    background: #5eb7b7;
    position: absolute;
    bottom: 0;
  }

  .card {
    -webkit-box-shadow: 10px 10px 13px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 13px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 13px -5px rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 576px) {
    h1 {
      text-align: center;
    }

    .card {
      margin-top: 40px;
      margin-left: 17%;
    }

    .ln {
      width: 100%;
      height: 80%;
      background: #5eb7b7;
      position: absolute;
      bottom: 0;
    }
  }

}